@import '../components/Header/style.scss';
@import '../components/Footer/style.scss';
@import '../components/Sidebar/style.scss';
@import '../components/Content/style.scss';

$text-color: red;

body {
    height: 100vh;
    margin: 0;

    #root {
        height: 100%;
    }
}

.ant-layout {
    &.app-layout {
        height: 100%;
        color: $text-color;
    }
}




